<!doctype html>

<html lang="en">
  <head>
    <title>{{name}}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="{{description}}">
    <meta name="author" content="{{author}}">

    <link type="text/css" rel="stylesheet" href="styles/vendor.css">
    <link type="text/css" rel="stylesheet" href="styles/main.css">
  </head>

  <body>
    <h1>{{name}}</h1>
    <p>{{description}}</p>

    <script type="text/javascript" src="scripts/vendor.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>
